import React, {Component, PropTypes} from 'react';
{{#if observer}}
import {observer, inject} from 'mobx-react';
{{/if}}
import s from './{{dashCase componentName}}.css';

{{#if observer}}
@inject('{{ camelCase featureName }}Store')
@observer
{{/if}}
export default class {{ properCase componentName }} extends Component {
  static propTypes = {
    {{ camelCase featureName }}Store: PropTypes.object,
  };

  render() {
    {{#if observer}}
    const { {{ camelCase featureName }}Store } = this.props
    {{/if}}
    return (
      <div className={ s.{{camelCase componentName}} }>
        <h2>{{ properCase componentName }}</h2>
        {{#if observer}}
        <h5>Current Time: { {{ camelCase featureName }}Store.time }</h5>
        {{/if}}
      </div>
    )
  }

}
